
<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pending reviews</title>
</head>
<body>
<!--<th:block layout:fragment="page-custom-js">-->
<!--    <script type="text/javascript" th:src="@{/js/admin.js}"></script>-->
<!--</th:block>-->
<div id="contents" class="row" layout:fragment="main-content">
    <div class="d-flex flex-column mt-4 mb-4">
        <div class="h4">Pending reviews</div>
        <div class="mt-2" th:if="${createdReviews == null || createdReviews.isEmpty()}">
            <span class="cus-text-light">There is no pending review</span>
        </div>
        <table class="table table-responsive table-striped"
               th:if="${createdReviews != null && !createdReviews.isEmpty()}">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Reviewer</th>
                <th scope="col" class="text-nowrap">Created date</th>
                <th scope="col">Comment</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review,iter : ${createdReviews}">
                <td scope="row" th:text="${iter.index+1}">1</td>
                </td>
                <td>
                    <div class="d-flex flex-row">
                        <div class="col-md-2 pl-0">
                            <img class="product-image w-100" th:src="${review.product.image}"/>
                        </div>
                        <div class="text-nowrap">
                            <a th:text="${review.product.name}" th:href="@{/product/{id}(id=${review.product.id})}"
                               th:target="blank"
                            ></a>
                        </div>
                    </div>
                </td>
                <td th:text="${review.reviewer}"></td>
                <td th:text="${review.createdDate}"></td>
                <td th:text="${review.text}"></td>
                <td>
                    <div class="d-flex flex-row">
                        <a href="#" class="postReview btn btn-success mr-1" th:data-review-id="${review.id}">Post</a>
                        <a href="#" class="declineReview btn btn-danger" th:data-review-id="${review.id}">Decline</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>