<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Navigation -->
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img th:src="@{/images/templates/logo.png}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-2" th:if="${user_name == null || user_role == 'BUYER'}">
                    <a class="nav-link" th:href="@{/buyer/cart}"><i class="fa fa-shopping-cart"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i> <span th:text="${user_name}?${user_name}:'Guess'" th:remove="tag"></span>
                    </a>

                    <div th:if="${user_name} and ${user_role} == 'ADMIN'" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/admin/pending-reviews}">
                            <i class="fa fa-tasks mr-1"></i>Product Reviews
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/admin/products}">
                            <i class="fa fa-tasks mr-1"></i>Products Management
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/admin/pending-sellers}">
                            <i class="fa fa-user mr-1"></i>Pending Sellers
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/perform_logout}"><i class="fa fa-sign-out"></i> Logout</a>
                    </div>

                    <div th:if="${user_name} and ${user_role} == 'BUYER'" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/buyer/orders}"><i class="fa fa-user"></i>My Orders</a>
                        <a class="dropdown-item" th:href="@{/buyer/setting}"><i class="fa fa-cogs"></i>User Setting</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/perform_logout}"><i class="fa fa-sign-out"></i> Logout</a>
                    </div>

                    <div th:if="${user_name} and ${user_role} == 'SELLER'" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/seller"><i class="fa fa-user mr-1"></i>Product Management</a>
                        <a class="dropdown-item" href="/seller/orders"><i class="fa fa-user mr-1"></i>Order Management</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/perform_logout}"><i class="fa fa-sign-out"></i> Logout</a>
                    </div>

                    <div th:unless="${user_role}" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/auth/login}"><i class="fa fa-sign-in"></i> Login</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/auth/buyer_register}"><i class="fa fa-user"></i> Buyer Register</a>
                        <a class="dropdown-item" th:href="@{/auth/seller_register}"><i class="fa fa-briefcase"></i> Seller Register</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>