<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Product Management</title>
  <link th:href="@{/css/seller.css}" rel="stylesheet"/>
</head>
<body>
<div class="col mt-3" layout:fragment="main-content">
  <div th:if="${product_error}" class="alert alert-danger" th:text="${product_error}"></div>
  <div class="col mt-2">
    <a href="/seller/addProduct" class="btn btn-primary shadow" style="margin-top: 5px">
      <i class="fa fa-plus mr-1"></i>Add Product
    </a>
  </div>
  <div id="product-container">
    <div class="d-flex flex-row flex-wrap mt-5 mb-5">
      <div th:each="product : ${sellerProducts}" class="col-md-3 col-lg-3 pt-2 pb-2">
        <div class="card shadow">
          <img th:src="${product.image}" class="card-img-top" alt="Product_Image">
          <div class="card-body">
            <span class="badge badge-light text-success p-2" th:text="'$' + ${product.price}"></span>
            <h5 class="card-title" th:text="${product.name}"></h5>
            <div class="action d-flex flex-row justify-content-center">
              <a th:href="@{/seller/update-product/{productId}(productId = ${product.id})}"
                 class="btn btn-primary shadow mr-1"><i class="fa fa-edit mr-1"></i>Edit</a><br>
              <a th:href="@{/seller/delete-product/{productId}(productId = ${product.id})}"
                 class="btn btn-danger shadow">
                <i class="fa fa-remove mr-1"></i>Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>