<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
</head>
<body>

<th:block layout:fragment="page-custom-css">
    <link th:href="@{/css/authentication/login.css}" rel="stylesheet">
</th:block>

<th:block layout:fragment="page-custom-js">
     <script type="text/javascript" th:src="@{/js/authentication/login.js}"></script>
</th:block>

<div class="col mb-5" layout:fragment="main-content">
    <div class="col-md-6 col-sm-12 offset-md-3 offset-sm-0 mt-5">

        <h2 class="form-signin-heading text-center mb-5" th:text="Welcome"></h2>

        <div class="text-center mb-5">
            <img class="login-logo" th:src="@{/images/templates/logo_vertical.png}">
        </div>

        <form th:action="@{/auth/login}" method="POST" class="form-login">
            <input type="text" id="username" name="username" th:placeholder="Username"
                   class="form-control"/> <br/>
            <input type="password" th:placeholder="Password"
                   id="password" name="password" class="form-control"/> <br/>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="keepMe" id="keepMe">
                <label class="form-check-label" for="keepMe"> Remember Me?</label>
            </div>

            <div align="center">
                <p style="font-size: 20px; color: #FF1C19;" th:text="${errorMessge}">Email or Password invalid, please verify</p>
            </div>


            <button id="btnLogin" class="btn btn-lg btn-block" name="Submit" value="Login" type="Submit"
                    th:text="LOGIN"></button>
        </form>

        <div class="text-left mt-5">
            <p>Don’t have an account?</p>
            <span><a th:href="@{/auth/buyer_register}" ><i class="fa fa-user"></i> Buyer Register</a></span> /
            <span><a th:href="@{/auth/seller_register}" ><i class="fa fa-briefcase"></i> Seller Register</a></span>
        </div>

    </div>

</div>

</body>
</html>