<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
</head>
<body>

<th:block layout:fragment="page-custom-css">
    <link th:href="@{/css/authentication/login.css}" rel="stylesheet">
</th:block>

<th:block layout:fragment="page-custom-js">
     <script type="text/javascript" th:src="@{/js/authentication/login.js}"></script>
</th:block>

<div class="col mb-5" layout:fragment="main-content">
    <div class="col-sm-12 col-md-8 offset-md-2 mt-5">

        <h2 class="form-signin-heading text-center mb-5">
            <span th:text="${create_user_role}=='ROLE_SELLER'?'Seller':'Buyer'" th:remove="tag"></span>  Register
        </h2>

        <div class="text-center mb-5">
            <img class="login-logo" th:src="@{/images/templates/logo_vertical.png}">
        </div>

        <form th:action="${create_user_role}=='ROLE_SELLER'?@{/auth/seller_register}:@{/auth/buyer_register}" th:object="${userRequest}" method="post" class="form-register">

            <div class="form-group row">
                <label class="col-md-4 col-form-label">Username</label>
                <div class="col-sm-8">
                    <input id="username" type="text" th:field="*{username}"
                           th:class="${#fields.hasErrors('username')}?'form-control validate is-invalid':'form-control validate'"
                           placeholder="Enter username">
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 col-form-label">Email address</label>
                <div class="col-sm-8">
                    <input id="email" type="email" th:field="*{email}"
                           th:class="${#fields.hasErrors('email')}?'form-control validate is-invalid':'form-control validate'"
                           aria-describedby="emailHelp" placeholder="Enter email">
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                    <input id="first_name" type="text" th:field="*{firstName}"
                           th:class="${#fields.hasErrors('firstName')}?'form-control validate is-invalid':'form-control validate'"
                           placeholder="Enter First Name">
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Email Error</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                    <input id="last_name" type="text" th:field="*{lastName}"
                           th:class="${#fields.hasErrors('lastName')}?'form-control validate is-invalid':'form-control validate'"
                           placeholder="Enter Last Name">
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input id="password" type="password" th:field="*{password}"
                       th:class="${#fields.hasErrors('password')}?'form-control validate is-invalid':'form-control validate'"
                       placeholder="Enter Password">
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 col-form-label">Confirm password</label>
                <div class="col-sm-8">
                    <input id="confirm_password" type="password" th:field="*{confirm_password}"
                           th:class="${#fields.hasErrors('confirm_password')}?'form-control validate is-invalid':'form-control validate'"
                       placeholder="Enter confirm password">
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('confirm_password')}" th:errors="*{confirm_password}">Confirm Password Error</span>
                    </div>
                </div>
            </div>

            <button id="btnLogin" class="btn btn-lg float-right" name="Submit" value="Login" type="Submit"
                    th:text="Register"></button>
        </form>

        <br/>
        <div class="text-left mt-5 clearfix clear text-right">
            <p>You have an account? <span><a th:href="@{/auth/login}" ><i class="fa fa-sign-in"></i> Login</a></span></p>
        </div>

    </div>

</div>

</body>
</html>