<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Orders</title>
  <link th:href="@{/css/product-details.css}" rel="stylesheet"/>
</head>
<body>

<th:block layout:fragment="page-custom-js">
  <script type="text/javascript" th:src="@{/js/buyer/cart.js}"></script>
</th:block>

<div class="col" layout:fragment="main-content">
  <div id="order-container">
    <div class="d-flex flex-row mt-5 mb-5">
    </div>
  </div>
</div>

</body>
</html>